@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
* {
    font-family: 'Roboto Slab', serif;
}
body {
    background-image: url(programs&activities-page-background.jpg);
    background-size:  1200px 800px;
    background-position: center 50%;
    background-repeat: no-repeat;
    background-color: #c7b39b;
    overflow: auto; /* Добавляем полосы прокрутки */
    height: 600px; 
    max-width: 1200px;
    margin: 0 auto; 
}

#header {
    width: 1180px;
    height: 40px;
    background: yellow url(logo.png) no-repeat 1% 50%;
    padding-top: 10px;
    background-size: 70px;
    text-align: right;
    padding-right: 20px;
    font-size: 14pt;
    }
#h1 {
    color: black;
    background-color: orange;
    display: block;
    text-align: center;
    width: 1200px;
    font-size: 10pt;
}