@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
* {
    font-family: 'Roboto Slab', serif;
}
body {
    background-image: url(home-page-background.jpg);
    background-size:  1200px 800px;
    opacity: 0.9;
    z-index: -1;
    background-position: center 50%;
    background-repeat: no-repeat;
    background-color: #c7b39b;
    overflow: auto; 
    height: 600px; 
    max-width: 1200px;
    margin: 0 auto; 
}
#header {
    width: 1180px;
    height: 40px;
    background: #50cdff url(logo.png) no-repeat 1% 50%;
    padding-top: 10px;
    background-size: 70px;
    text-align: right;
    padding-right: 20px;
    font-size: 14pt;
}
#h1 {
    color: black;
    background-color: #50cdff;
    display: block;
    text-align: center;
    width: 1200px;
    font-size: 10pt;
}
#section {
    right: 0px;
    width: 450px;
    color: black;
    background-color: white;
    display: block; 
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
    position:absolute;
    right:150px;
    top:170px;
    border-radius: 30px;
}
#list {
    background-color: white;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 200px;
    position:absolute;
    left:150px;
    top:170px;
    border-radius: 30px;
}
#box1, #box2, #box3 {
    width:160px;
    text-align: center;
    border-radius: 30px;
}
#box1{
    background-color: #ff4612;
    position:absolute;
    left:200px;
    bottom: 100px;
}
#box2{
    background-color: #f5fe01;
    position:absolute;
    left:590px;
    bottom: 100px;
}
#box3{
    background-color: #11d51b;
    position:absolute;
    right:200px;
    bottom: 100px;
}
a {
    color: black;
}
a[href^="http"]{
    color: blue;
}
a:visited {
    color: brown;
}
#container {
    position: absolute;
    bottom:0;
    right: 15px;
    font-size: 12pt;
    padding-bottom: 5px;
}
#footer {
    height: 25px;
    color: black;
    background-color: white;
    display: block;
    padding-left: 15px;
    position: absolute;
    bottom: 0px;
    width: 1185px;
    left:83px;
    font-size: 11pt;
    padding-top: 5px;
}

