@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
* {
    font-family: 'Roboto Slab', serif;
}
body {
    background-image: url(home-page-background.jpg);
    background-position: center 50%;
    background-repeat: no-repeat;
    max-width: 1200px;
    margin: 0 auto; 
}
h1 {
    width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-width: 0px;
    color:black;
    background-color: blue;
     display: flex;
  justify-content:center;
  
}
article {
  width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-width: 10px;
}
nav{
    width: 1200px;
    background-color: #298A08;
    margin: 0;
    padding: 20px;
    border-width: 10px;
}
aside {
  width: 150px;
  margin: 20px auto;
  padding: 20px;
  border-width: 10px;
  
}
.discount {
  display: flex;
  justify-content:center;
}
img  {
  float: right;
  margin: 0 0 1em 1em;
}
p {
    color: black;
    background-color: orange;
        display: block;
}

