@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
* {
    font-family: 'Roboto Slab', serif;
}
body {
    background-image: url(home-page-background.jpg);
    background-position: center 50%;
    background-repeat: no-repeat;
    max-width: 1200px;
    margin: 0 auto; 
}
.information-about-James {
    background-color: yellow;
    width: 500px;
    height: auto;
    float: left;
}
.information-about-Anna {
    background-color: pink;
    width: 500px;
    height: auto;
    float: left;
}
.information-about-Mary {
    background-color: pink;
    width: 500px;
    height: auto;
    float: left;
}
.information-about-Billy {
    background-color: yellow;
    width: 500px;
    height: auto;
    float: left;
}