@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
* {
    font-family: 'Roboto Slab', serif;
}
body {
    background-image: url(our-trainers-page-background.jpg);
    background-size:  1200px 800px;
    background-position: center 50%;
    background-repeat: no-repeat;
    background-color: #c7b39b;
    overflow: auto; 
    height: 700px;
    max-width: 1200px;
    margin: 0 auto; 
}
#main {
    width: 1180px;
    height: 40px;
    background: #50cdff url(logo.png) no-repeat 1% 50%;
    opacity: 0.8;
    z-index: -1;
    padding-top: 10px;
    background-size: 70px;
    text-align: right;
    padding-right: 20px;
    font-size: 14pt;
}
#h1 {
    color: black;
    background-color: #50cdff;
    opacity: 0.8;
    z-index: -1;
    display: block;
    text-align: center;
    width: 1200px;
    font-size: 10pt;
}
#content {
    display: flex;
    flex-wrap: wrap;
}
#James {
    margin-left: 70px;
    margin-bottom: 20px;
}
#information-about-James {
    background-color: yellow;
    opacity: 0.8;
    z-index: -1;
    width: 205px;
    color: black;
    display: block; 
    padding-left: 15px;
    padding-right: 15px;
     margin-bottom: 23px;
    text-align: justify;
}
#Mary {
    margin-left: 70px;
}
#information-about-Mary {
    background-color: pink;
    opacity: 0.8;
    z-index: -1;
    width: 205px;
    color: black;
    display: block; 
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
    text-align: justify;
}
#Anna {
    margin-left: 225px;
    margin-bottom: 20px;
}
#information-about-Anna {
    background-color: pink;
    opacity: 0.8;
    z-index: -1;
    width: 205px;
    color: black;
    display: block; 
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 23px;
    text-align: justify;
}
#Billy {
     margin-left: 225px;
}
#information-about-Billy {
    background-color: yellow;
    opacity: 0.8;
    z-index: -1;
    width: 205px;
    color: black;
    display: block; 
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    text-align: justify;
}
a {
    color: black;
}
a[href^="http"]{
    color: blue;
}
a:visited {
    color: brown;
}
#container {
    margin-left: 1120px;
    margin-top: 35px;
}
#footer {
    margin-top: -22px;
    height: 25px;
    color: black;
    background-color: white;
    display: block;
    width: 1190px;
    font-size: 11pt;
    padding-top: 5px;
    padding-left: 10px;
}