@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
* {
    font-family: 'Roboto Slab', serif;
}
body {
    background-image: url(programs&activities-page-background.jpg);
    background-size:  1200px 800px;
    
    background-position: center 50%;
    background-repeat: no-repeat;
    background-color: #c7b39b;
    overflow: auto; 
    height: 700px;
    max-width: 1200px;
    margin: 0 auto; 
}
#main {
    width: 1180px;
    height: 40px;
    background: #50cdff url(logo.png) no-repeat 1% 50%;
     opacity: 0.8;
    z-index: -1;
    padding-top: 10px;
    background-size: 70px;
    text-align: right;
    padding-right: 20px;
    font-size: 14pt;
}
#h1 {
    color: black;
    background-color: #50cdff;
     opacity: 0.8;
    z-index: -1;
    display: block;
    text-align: center;
    width: 1200px;
    font-size: 10pt;
}
#content {
    display: flex;
    flex-wrap: wrap;
}
#infant {

    
}
#awareness-for-infants {
    color: black;
    display: block; 

    left:170px;
    top:120px;
    font-size: 14.5pt;
}
#preschooler {
    
    left:150px;
    top:400px; 
}
#swim-for-preschoolers {
    color: black;
    display: block; 

    left:120px;
    top:380px;
    font-size: 14.5pt;
}
#school-age-child {

    right:150px;
    top:140px;
}
#swim-for-school-age-children {
    color: black;
    display: block; 

    right:100px;
    top:120px;
    font-size: 14.5pt;
}
#teenager {
    
    right:150px;
    top:400px; 
}
#sweem-for-teenagers {
    color: black;
    display: block; 

    right:140px;
    top:380px;
    font-size: 14.5pt;
}
#adult {
    
    right:535px;
    bottom:20px; 
    
}
#private-classes {
   color: black;
    display: block; 

    right: 600px;
    bottom: 210px;
    font-size: 14.5pt;
}
#logo {
   
    right:560px;
    top:140px;  
    opacity: 0.8;
}
a {
    color: black;
}
a[href^="http"]{
    color: blue;
}
a:visited {
    color: brown;
}
#container {
    position: absolute;
    bottom:0;
    right: 15px;
    font-size: 12pt;
    padding-bottom: 5px;
}
#footer {
    height: 25px;
    color: black;
    background-color: white;
    display: block;
    padding-left: 15px;
    position: absolute;
    bottom: 0px;
    width: 1185px;
    left:83px;
    font-size: 11pt;
    padding-top: 5px;
}