@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
* {
    font-family: 'Roboto Slab', serif;
}
body {

    background-image: url(home-page-background.jpg);
    background-position: center 50%;
    background-repeat: no-repeat;
    max-width: 1200px;
    margin: 0 auto; 
} 


nav{
    width: 1200px;
    background-color: #298A08;
    margin: 0;
    padding: 20px;
    border-width: 10px;
}
img  {
  float: right;
  margin: 0 0 1em 1em;
}